{{!-- shows the values needed to edit an exisiting account -arevalo --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readit - Create Post</title>
    {{>head}}
</head>
<body>
    {{>navigation}}

   <!-- Create Post Form -->
   <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Update Profile</h2>
                    <form id="create-post-form"> 
                        <div class="form-group">
                            <label for="post-image">Profile Picture (Optional):</label>
                            <input type="text" id="pfp-id" class="form-control" placeholder="Image Url">
                        </div>
                        <div class="form-group">
                            <label for="bio-des">Bio:</label>
                            <textarea id="bio-des" class="form-control" required placeholder="Write something..." style="height: 100px;"></textarea>
                        </div>
                        {{!-- <form action="/update_profile" method="post"> --}}
                            <input type="hidden" name="acc_id" value="{{accounts._id}}">
                            <button type="submit" class="btn btn-success btn-block" id="profile-button">Publish</button>
                        {{!-- </form> --}}
                        <p id="error_issue" style="font-weight: bold; color: red; text-align: center;"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <footer>
        <p>&copy; 2023 Readit</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Your Custom JavaScript File -->
    <script src="/js/edit_profile.js"></script>
    <script src="/js/profanity_filter.js"></script>
    {{!-- added after submission --}}
    <script src="/js/autocomplete.js"  > </script>
    {{!-- end --}}
</body>
</html>
